* {
  margin: 0;
  background-color: white;
  color: black;
  font-family: 'Times New Roman', Times, serif;
}

body {
  display: flex;
  justify-content: center;
}

#content {
  width: 1200px;
}

#topbar {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 12rem;
}

#topbar-img1 {
  height: 100%;
  margin-right: auto;
}

#topbar-content {
  display: flex;
  flex-direction: column;
}

#topbar-text1 {
  text-align: center;
  letter-spacing: 0.2rem;
}

#topbar-text2 {
  text-align: center;
}

#topbar-text3 {
  text-align: center;
  font-style: italic;
  margin-top: 1rem;
}

#topbar-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5rem;
  height: 2rem;
}

.button {
  background-color: lightgray;
  border: 2px solid gray;
  border-radius: 8px;
}

.button:hover {
  background-color: #bebebe;
  cursor: pointer;
}

.button-text {
  background-color: transparent;
  color: #0a36af;
  font-size: 1rem;
}

#button4 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#shop {
  background-color: transparent;
  display: none;
  flex-direction: column;
  align-items: center;
}

.shop-link {
  background-color: transparent;
  margin-top: 0.5rem;
  cursor: pointer;
}

.shop-link a {
  text-decoration: none;
}

#topbar-img2 {
  height: 100%;
  visibility: hidden;
}

#yellow-line {
  background-color: #f0bc42;
  width: 100%;
  height: 0.5rem;
}

#red-line {
  background-color: #8e1f2f;
  width: 100%;
  height: 0.5rem;
}

#cover-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 4rem;
}

#published {
  text-align: center;
  margin: 1rem 0 1rem 0;
  margin-bottom: 2.5rem;
}

@media only screen and (max-width: 360px) {
  #topbar {
    align-items: center;
    margin-top: 2.7rem;
  }

  #topbar-img1,
  #topbar-img2 {
    display: none;
  }

  #topbar-text1 {
    font-size: 3rem;
  }

  #topbar-text2 {
    font-size: 1.6rem;
  }

  #topbar-text3 {
    font-size: 1.4rem;
  }

  .button {
    padding: 0.3rem 0.85rem 0.3rem 0.85rem;
  }

  #yellow-line {
    margin-top: 2.75rem;
  }

  #cover {
    width: 75%;
  }
}

@media only screen and (min-width: 361px) and (max-width: 374px) {
  #topbar {
    align-items: center;
    margin-top: 2.7rem;
  }

  #topbar-img1,
  #topbar-img2 {
    display: none;
  }

  #topbar-text1 {
    font-size: 3rem;
  }

  #topbar-text2 {
    font-size: 1.6rem;
  }

  #topbar-text3 {
    font-size: 1.4rem;
  }

  .button {
    padding: 0.3rem 1.1rem 0.3rem 1.1rem;
  }

  #yellow-line {
    margin-top: 2.75rem;
  }

  #cover {
    width: 75%;
  }
}

@media only screen and (min-width: 375px) and (max-width: 392px) {
  #topbar {
    align-items: center;
    margin-top: 0.85rem;
  }

  #topbar-img1,
  #topbar-img2 {
    display: none;
  }

  #topbar-text1 {
    font-size: 2.85rem;
  }

  #topbar-text2 {
    font-size: 1.45rem;
  }

  #topbar-text3 {
    font-size: 1.25rem;
  }

  .button {
    padding: 0.3rem 1.1rem 0.3rem 1.1rem;
  }

  #yellow-line {
    margin-top: 0.75rem;
  }

  #cover {
    width: 75%;
  }
}

@media only screen and (min-width: 393px) and (max-width: 439px) {
  #topbar {
    align-items: center;
    margin-top: 0.85rem;
  }

  #topbar-img1,
  #topbar-img2 {
    display: none;
  }

  #topbar-text1 {
    font-size: 2.85rem;
  }

  #topbar-text2 {
    font-size: 1.45rem;
  }

  #topbar-text3 {
    font-size: 1.25rem;
  }

  .button {
    padding: 0.3rem 1.1rem 0.3rem 1.1rem;
  }

  #yellow-line {
    margin-top: 0.1rem;
  }

  #cover {
    width: 75%;
  }
}

@media only screen and (min-width: 440px) and (max-width: 767px) {
  #topbar {
    align-items: center;
  }

  #topbar-img1,
  #topbar-img2 {
    display: none;
  }

  #topbar-text1 {
    font-size: 3rem;
  }

  #topbar-text2 {
    font-size: 1.6rem;
  }

  #topbar-text3 {
    font-size: 1.4rem;
  }

  .button {
    padding: 0.3rem 1.25rem 0.3rem 1.25rem;
  }

  #yellow-line {
    margin-top: 0.3rem;
  }

  #cover {
    width: 75%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1020px) {
  #topbar-content {
    margin-right: auto;
  }

  #topbar-text1 {
    font-size: 3rem;
  }

  #topbar-text2 {
    font-size: 1.6rem;
  }

  #topbar-text3 {
    font-size: 1.4rem;
  }

  .button {
    padding: 0.3rem 1.25rem 0.3rem 1.25rem;
  }

  #topbar-img2 {
    display: none;
  }

  #cover {
    width: 40%;
  }
}

@media only screen and (min-width: 1021px) {
  #topbar-content {
    margin-right: auto;
  }

  #topbar-text1 {
    font-size: 3rem;
  }

  #topbar-text2 {
    font-size: 1.6rem;
  }

  #topbar-text3 {
    font-size: 1.4rem;
  }

  .button {
    padding: 0.3rem 1.25rem 0.3rem 1.25rem;
  }

  #cover {
    width: 30%;
  }
}
